<a href="https://colab.research.google.com/github/Battula-Shilpa/-Python/blob/main/1_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List

Introduction To Lists:
- Lists are ordered, mutable collections of items.
- They can contain items of different data types.

In [ ]:
Empty_list = []
print(type(Empty_list))

<class 'list'>

In [ ]:
#Initialization of list
a = [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [ ]:
mixed_list = ["Hello" , 1 , 1.5, True]
print(mixed_list)

['Hello', 1, 1.5, True]

In [ ]:
### Accessing List Elements
a = ["Banking","Healthcare","Retail","lifescience"]
print(a)
print(a[0])
print(a[1])
print(a[-1])

['Banking', 'Healthcare', 'Retail', 'lifescience']
Banking
Healthcare
lifescience

In [ ]:
#### Read using slicing  # list[start:stop:step]
print(a)
print(a[1:])
print(a[1:3])
print(a[1:4:2])

['Banking', 'Healthcare', 'Retail', 'lifescience']
['Healthcare', 'Retail', 'lifescience']
['Healthcare', 'Retail']
['Healthcare', 'lifescience']

In [ ]:
#Backward slicing using step in -ve
age_list = [23,15,67,22,33,45,21,12]
print(age_list)
print(age_list[::-1]) #reverse
print(age_list[-1:-8:-2])
print(age_list[2:1:-1])
print(age_list[3:1:-1])
print(age_list[5:2:-1])

[23, 15, 67, 22, 33, 45, 21, 12]
[12, 21, 45, 33, 22, 67, 15, 23]
[12, 45, 22, 15]
[67]
[22, 67]
[45, 33, 22]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[6:1:-1])
print(numbers[8:4:-3])

[7, 6, 5, 4, 3]
[9, 6]

In [ ]:
name = "B Shilpa"
name[1:]

' Shilpa'

In [ ]:
### Iterating Over List
for i in numbers:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
## Iterating with index
for index,i in enumerate(numbers):
  print(index,i)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

# List Comprehension

In [ ]:
#List compregension
list = []
for i in range(10):
  list.append(i**2)
print(list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
### Basic List Comphrension
sqaure = [num**2 for num in range(10)]
print(sqaure)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
### List Comprehension with Condition
lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

In [ ]:
### Basic List Comphrension
Even_numbers = [num for num in range(10) if num%2==0]
print(Even_numbers)

[0, 2, 4, 6, 8]

In [ ]:
Odd_numbers= [num for num in range(10) if num%2==1]
print(Odd_numbers)

[1, 3, 5, 7, 9]

In [ ]:
list = [1,2,3,4,5,6,7,8]

#update value 3 to 30
updated_list = [30 if i==3 else i for i in list]
print(updated_list)

[1, 2, 30, 4, 5, 6, 7, 8]

In [ ]:
## Nested List Comphrension
lst1 = [1,2,3,4]
lst2 = ['a','b','c','d']
pair = [[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [ ]:
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [ ]:
## List Comprehension with function calls
words = ["s","hi","hello", "world", "python", "list", "comprehension"]
lengths = [len(word) for word in words]
print(lengths)

[1, 2, 5, 5, 6, 4, 13]

# ***Tuple***

Introduction to Tuples
Explanation:

- Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different

In [ ]:
#creating a tuple
emmpty_list = ()
print(typle(empty_list))

In [ ]:
tp1 = tuple()
print(tuple(tp1))

()

In [ ]:
mixed_tuple = (1,"Hello",2.4,True)
print(mixed_tuple)
print(type(mixed_tuple))

(1, 'Hello', 2.4, True)
<class 'tuple'>

In [ ]:
## Accessing Tuple Elements
numbers = (1,2,3,4,5,6,7,8)
print(numbers[:2])
print(numbers[-1])
print(numbers[0:4])
numbers[::-1]

(1, 2)
8
(1, 2, 3, 4)

(8, 7, 6, 5, 4, 3, 2, 1)

In [ ]:
## Tuple Operations

concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 1, 'Hello', 2.4, True)

In [ ]:
mixed_tuple*3

(1, 'Hello', 2.4, True, 1, 'Hello', 2.4, True, 1, 'Hello', 2.4, True)

In [ ]:
numbers

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
## Tuple Methods
print(numbers.count(8))
print(numbers.index(4))

1
3

In [ ]:
## Packing and Unpacking tuple
## packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [ ]:
##unpacking a tuple
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [ ]:
## Unpacking with *
numbers = (1,2,3,4,5,6,7,8)
first,*middle,last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7]
8

In [ ]:
lst = [[1,2,3,4],[5,6,7,8],(1,"hello",3.24,"v")]
print(lst[0][0:3])
print(lst[1][0:3])
lst[2][0:3]

[1, 2, 3]
[5, 6, 7]

(1, 'hello', 3.24)

In [ ]:
nested_tuple = ((1,2,3),("a","b","c"),(True,False))
print(nested_tuple[0])
print(nested_tuple[1][2])
print(nested_tuple[2][0:2])

(1, 2, 3)
c
(True, False)

In [ ]:
print(type(nested_tuple))

<class 'tuple'>

In [ ]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
  for item in sub_tuple:
    print(item,end = " ")

  print()

1 2 3
a b c
True False

# Sets

- Sets are a built-in data type in Python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference.

In [ ]:
empty_set = set()
print(type(empty_set))

<class 'set'>

In [ ]:
my_set = {0,1,2,3,4,5}
print(my_set)
print(type(my_set))

{0, 1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
my_set = set([0,1,2,3,4,5,6])
print(my_set)
type(my_set)

{0, 1, 2, 3, 4, 5, 6}

set

In [ ]:
## Basics Sets Operation
## Adding and Removing Elements
my_set.add(7)
print(my_set)

my_set.remove(0)
print(my_set)

{0, 1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [ ]:
my_set.discard(1)
print(my_set)

{2, 3, 4, 5, 6, 7}

In [ ]:
#pop method
removed_element = my_set.pop()
print(removed_element)
print(my_set)

5
{6, 7}

In [ ]:
my_set.clear()
print(my_set)

set()

In [ ]:
## Set Memebership test
my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [ ]:
## MAthematical Operation
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

### Union
union_set=set1.union(set2)
print(union_set)

## Intersection
intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [ ]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Difference
print(set1.difference(set2))

{1, 2, 3}

In [ ]:
set2.difference(set1)

{7, 8, 9}

In [ ]:
## Symmetric Difference
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [ ]:
## Sets Methods
set1={1,2,3,4,5}
set2={3,4,5}

## is subset
print(set1.issubset(set2))

print(set1.issuperset(set2))

False
True

In [ ]:
lst=[1,2,2,3,4,4,5]

set(lst)

{1, 2, 3, 4, 5}

In [ ]:
### Counting Unique words in text

text="In this tutorial we are discussing about sets"
words=text.split()

## convert list of words to set to get unique words

unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'about', 'we', 'discussing', 'tutorial', 'sets', 'In', 'this', 'are'}
8

# Dictionary

Introduction to Dictionaries
- Dictionaries are unordered collections of items. They store data in key-value pairs. Keys must be unique and immutable (e.g., strings, numbers, or tuples), while values can be of any type.

In [ ]:
## Creating Dictionaries
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [ ]:
empty_dict=dict()
empty_dict

{}

In [ ]:
#initializing the dict
student={"name":"Shilpa","age":21,"grade":1}
print(student)
print(type(student))

{'name': 'Shilpa', 'age': 21, 'grade': 1}
<class 'dict'>

In [ ]:
# Single key is always used
student={"name":"Shilpa","age":21,"name":1}
print(student)

{'name': 1, 'age': 21}

In [ ]:
## accessing Dictionary Elements
student={"name":"Shilpa","age":21,"grade":'A'}
print(student)

{'name': 'Shilpa', 'age': 21, 'grade': 'A'}

In [ ]:
## Accessing Dictionary elements
print(student['grade'])
print(student['age'])

## Accessing using get() method
print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name',"Not Available"))

A
21
A
None
Not Available

In [ ]:
## Modifying Dicitonary Elements
## Dictionary are mutable,so you can add, update or delete elements
print(student)

{'name': 'Shilpa', 'age': 21, 'grade': 'A'}

In [ ]:
student["age"]=20  ##update value for the key
print(student)
student["address"]="India" ## added a new key and value
print(student)

{'name': 'Shilpa', 'age': 20, 'grade': 'A'}
{'name': 'Shilpa', 'age': 20, 'grade': 'A', 'address': 'India'}

In [ ]:
del student['grade'] ## delete key and value pair

print(student)

{'name': 'Shilpa', 'age': 20, 'address': 'India'}

In [ ]:
## Dictionary methods

keys=student.keys() ##get all the keys
print(keys)
values=student.values() ##get all values
print(values)

items=student.items() ##get all key value pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Shilpa', 20, 'India'])
dict_items([('name', 'Shilpa'), ('age', 20), ('address', 'India')])

In [ ]:
## shallow copy
student_copy=student
print(student)
print(student_copy)

{'name': 'Shilpa', 'age': 20, 'address': 'India'}
{'name': 'Shilpa', 'age': 20, 'address': 'India'}

In [ ]:
student["name"]="Shilpa_Battula"
print(student)
print(student_copy)

{'name': 'Shilpa_Battula', 'age': 20, 'address': 'India'}
{'name': 'Shilpa_Battula', 'age': 20, 'address': 'India'}

In [ ]:
student_copy1=student.copy() ## shallow copy
print(student_copy1)
print(student)

{'name': 'Shilpa_Battula', 'age': 20, 'address': 'India'}
{'name': 'Shilpa_Battula', 'age': 20, 'address': 'India'}

In [ ]:
student["name"]="Shilpa_B"
print(student_copy1)
print(student)

{'name': 'Shilpa_Battula', 'age': 20, 'address': 'India'}
{'name': 'Shilpa_B', 'age': 20, 'address': 'India'}

In [ ]:
### Iterating Over Dictionaries
## You can use loops to iterate over dictionatries, keys,values,or items

## Iterating over keys
for keys in student.keys():
    print(keys)

name
age
address

In [ ]:
## Iterate over values
for value in student.values():
    print(value)

Shilpa_B
20
India

In [ ]:
## Nested Disctionaries
students={
    "student1":{"name":"John","age":32},
    "student2":{"name":"Peter","age":35}
}
print(students)

{'student1': {'name': 'John', 'age': 32}, 'student2': {'name': 'Peter', 'age': 35}}

In [ ]:
students.items()

dict_items([('student1', {'name': 'John', 'age': 32}), ('student2', {'name': 'Peter', 'age': 35})])

In [ ]:
## Iterating over nested dictionaries
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'John', 'age': 32}
name:John
age:32
student2:{'name': 'Peter', 'age': 35}
name:Peter
age:35

In [ ]:
## Dictionary Comphrehension
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
dict1 = {"key1":"value1","key2":"value2"}

lst1=[1,2,3,4]; lst2= ["Shilpa"]

newdict= {i:j for i in lst1 for j in lst2}

dict2 = {key:value for key,value in dict1.items()}
print(dict2)
print(newdict)

{'key1': 'value1', 'key2': 'value2'}
{1: 'Shilpa', 2: 'Shilpa', 3: 'Shilpa', 4: 'Shilpa'}

In [ ]:
## Practical Examples

## USe a dictionary to count he frequency of elements in list

numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [ ]:
for keys in frequency.keys():
  print(keys)

for values in frequency.values():
  print(values)

1
2
3
4
1
2
3
4

In [ ]:
## Merge 2 dictionaries into one

dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

# Loops in Python

**Why Loop**
- Execute same code repeatedly.

**While Loop**
- Executes while condition true.

**For Loop**
- Executes for each item in iterable.

**while loop**

In [ ]:
i = 1
while i<10:
  print("The number" + str(i))
  i+=1

The number1
The number2
The number3
The number4
The number5
The number6
The number7
The number8
The number9

In [ ]:
number = int(input("Enter the number: "))
i = 1
while i < 11:
  print(number, "*",i,"=",number*i)
  i +=1

Enter the number: 99
99 * 1 = 99
99 * 2 = 198
99 * 3 = 297
99 * 4 = 396
99 * 5 = 495
99 * 6 = 594
99 * 7 = 693
99 * 8 = 792
99 * 9 = 891
99 * 10 = 990

In [ ]:
x = 0
while x < 10:
  print(x)
  x = x+2

0
2
4
6
8

In [ ]:
list1 = [2,3,4,5,6,7,"bank"]

for item in list1:
  print(item)

2
3
4
5
6
7
bank

 ***for loop***

In [ ]:
for delivery_city in ["Kolkata","Delhi","Mumbai"]:
  print(delivery_city)

Kolkata
Delhi
Mumbai

In [ ]:
# range(start, stop, step) the range() function is used to generate a sequence of numbers.

for productID in range(1,5):
    print(productID)

#Nested loops
for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1
2
3
4
1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [ ]:
for productID in range(10,20):
  if productID > 15:
    print("productID" + str(productID) + " is greater than 15")
  elif productID == 15:
    print("productID" + str(productID) + "is equal to 15")
  else:
    print("productID" + str(productID) + "is less to 15")
  print(productID)

productID10is less to 15
10
productID11is less to 15
11
productID12is less to 15
12
productID13is less to 15
13
productID14is less to 15
14
productID15is equal to 15
15
productID16 is greater than 15
16
productID17 is greater than 15
17
productID18 is greater than 15
18
productID19 is greater than 15
19

# *Loop Control statements*

- **Break**: Ends loop immediately.
- **Continue**: Skips to next iteration.
- **Pass**: Placeholder; does nothing.

In [ ]:
for i in range (1,10):
  if i ==7:
    print("test before break")
    break
    print("test after continue break")
  print(i)

1
2
3
4
5
6
test before break

In [ ]:
for i in range (1,10):
  if i == 5:
    print("test before continue stmt")
    continue
    print("test after continue stmt")
  print(i)

1
2
3
4
test before continue stmt
6
7
8
9

In [ ]:
for count in range(1, 6):
    pass
    print("If I get executed then why pass is used")

If I get executed then why pass is used
If I get executed then why pass is used
If I get executed then why pass is used
If I get executed then why pass is used
If I get executed then why pass is used