<a href="https://colab.research.google.com/github/Battula-Shilpa/-Python/blob/main/2_Type_Conversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Two types of type conversions
1. ***Implicit type conversion*** : Automatically convert one data type to another data type
2. ***Explicit type conversion*** : The programmer manually convert data type by using specific function

# **Implicit type conversion**

In [ ]:
# integer to float
a = 12 #int
b = 10.5 #float
c = a+b
print(c)
print(type(a))
print(type(b))
print(type(c)) # convert float

22.5
<class 'int'>
<class 'float'>
<class 'float'>

In [ ]:
# integer to complex
a = 12
b = 10+5j
c = a+b
print(c)
print(type(a))
print(type(b))
print(type(c)) # convert complex

(22+5j)
<class 'int'>
<class 'complex'>
<class 'complex'>

In [ ]:
#boolean to integer
a =True
b = 10
c = a+b
print(c)
print(type(a))
print(type(b))
print(type(c)) # convert integer

11
<class 'bool'>
<class 'int'>
<class 'int'>

In [ ]:
#Integer to String (Only in Concatenation)
a = 10
b = "Shilpa"
c = str(a)+b
print(c)
print(type(a))
print(type(b))
print(type(c)) # convert string

10Shilpa
<class 'int'>
<class 'str'>
<class 'str'>

- Python does not implicitly convert integers to strings in concatenation, so explicit conversion is required.

# **Explicit type conversion**

In [ ]:
#1. Integer to string
a=10
b=str(a)
print(b)
print(type(a))
print(type(b))

10
<class 'int'>
<class 'str'>

In [ ]:
a = 10
print("I have a "+ str(a) +" rupees")

I have a 10 rupees

In [ ]:
#2. string to intrger
a = "123"
b = int(a)
print(b)
print(type(a))
print(type(b))

123
<class 'str'>
<class 'int'>

In [ ]:
#Float to integer
a = 10.5
b = int(a)
print(b)
print(type(a))
print(type(b))

10
<class 'float'>
<class 'int'>

In [ ]:
# integer to float
a = 10
b = float(b)
print(b)
print(type(a))
print(type(b))

10.0
<class 'int'>
<class 'float'>

In [ ]:
# string to float
a = "12.4"
b = float(a)
print(b)
print(type(a))
print(type(b))

12.4
<class 'str'>
<class 'float'>

In [ ]:
# List to Tuple
a = [1,2,3,4]
b = tuple(a)
print(b)
print(type(a))
print(type(b))

(1, 2, 3, 4)
<class 'list'>
<class 'tuple'>

In [ ]:
# tuple to list
a = (1,2,3,4)
b = list(a)
print(b)
print(type(a))
print(type(b))

[1, 2, 3, 4]
<class 'tuple'>
<class 'list'>

In [ ]:
# list to set
a = [1,2,3,4]
b = set(a)
print(b)
print(type(a))
print(type(b))

{1, 2, 3, 4}
<class 'list'>
<class 'set'>

In [ ]:
# set to list
a = {1,2,3,4}
b = list(a)
print(b)
print(type(a))
print(type(b))

[1, 2, 3, 4]
<class 'set'>
<class 'list'>

In [ ]:
# string to list
a = "Shilpa"
b = list(a)
print(b)
print(type(a))
print(type(b))

['S', 'h', 'i', 'l', 'p', 'a']
<class 'str'>
<class 'list'>

In [ ]:
#list to string
a = ['S', 'h', 'i', 'l', 'p', 'a']
b = "".join(a)
print(b)
print(type(a))
print(type(b))

Shilpa
<class 'list'>
<class 'str'>

In [ ]:
#Dictionary to keys and values to list
dict = {'a':1,'b':2,'c':3}
keys_list = list(dict.keys())
values_list = list(dict.values())
print(keys_list)
print(values_list)
print(type(dict))
print(type(keys_list))
print(type(values_list))

['a', 'b', 'c']
[1, 2, 3]
<class 'dict'>
<class 'list'>
<class 'list'>

In [ ]:
#13. List of Tuples to Dictionary:
list_of_tuples = [('a',1), ('b',2), ('c',3)]
my_dict = dict(list_of_tuples)
print(my_dict)
#print(type(my_dict))

TypeError: 'dict' object is not callable

In [ ]:
# int to boolean
a = 0
b = 1
bool_val1 = bool(a)
bool_val2 = bool(b)
print(bool_val1)
print(bool_val2)
print(type(bool_val1))
print(type(bool_val2))

False
True
<class 'bool'>
<class 'bool'>

In [ ]:
#15. String to Boolean
bool_val1 = bool("True")  # This will return True because the string is non-empty
bool_val2 = bool("False")  # This will also return True because the string is non-empty
bool_val3 = bool("")  # This will return False because the string is empty

print(bool_val1)
print(bool_val2)
print(bool_val3)

True
True
False